<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/chosen.jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/chosen.min.css">

<h3>User Token: <%= current_user.token %></h3>
<h4>Email: <%= current_user.email %></h4>

<form action="/set" method="post">

  <% (1..6).each do |number| %>

    <div>
      <label>Button <%= number %></label>
      <% selected_task_id    = current_user.plants.first(:button => number).try(:task_id) %>
      <% selected_project_id = Task.first(:id => selected_task_id).try(:project_id) %>

      <br>

      <select class="projects-select" data-task-target="<%= number %>">
        <option value=""></option>
        <% current_user.projects.group_by(&:client_name).each do |client_name, projects| %>
          <optgroup label="<%= client_name %>">
            <% projects.each do |project| %>
              <option value="<%= project.id %>" <%= "selected='selected'" if project.id == selected_project_id %>><%= project.name %></option>
            <% end %>
          </optgroup>
        <% end %>
      </select>

      <br>

      <select name="button-<%= number %>" data-task-id="<%= number %>">
        <option value="" disabled selected>...</option>
        <% current_user.tasks.each do |task| %>
          <option value="<%= task.id %>" data-project-id="<%= task.project.id %>" disabled <%= "selected='selected'" if task.id == selected_task_id %>><%= task.name %></option>
        <% end %>
      </select>

    </div>

    <br>

  <% end %>

  <input type="submit" value="Submit" class="button" />

</form>

<a href="<%= oauth_url %>">Re-Authenticate</a>
<br>
<a href="/logout">Logout</a>

<script src="/javascripts/home.js"></script>
