<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/chosen.jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/chosen.min.css">

<h3>User Token: <%= current_user.token %></h3>

<form action="/set" method="post">

  <% (1..6).each do |number| %>

    <div>
      <label>Button <%= number %></label>
      <select name="button-<%= number %>">
        <% selected_task_id = current_user.plants.first(:button => number).try(:task_id) %>

        <option value=""></option>

        <% current_user.projects.all.each do |project| %>
          <optgroup label="<%= project.to_s %>">
            <% project.tasks.each do |task| %>
              <option value="<%= task.id %>" <%= "selected='selected'" if task.id == selected_task_id %>>
                <%= task.name %>
              </option>
            <% end %>
          </optgroup>
        <% end %>

      </select>
    </div>

    <br>

  <% end %>

  <input type="submit" value="Submit" class="button" />

</form>

<a href="/logout">Logout</a>

<script>
$("select").chosen()
</script>
