<form action="/set" method="post">

  <% (1..6).each do |number| %>

    <div>
      <label>Button 1</label>
      <select name="button-<%= number %>">
        <% selected_task_id = Plant.first(:button => number).try(:task_id) %>
        <option value=""></option>
        <% Project.all.each do |project| %>
          <optgroup label="<%= project.to_s %>">
            <% project.tasks.each do |task| %>
              <option value="<%= task.id %>" <%= "selected='selected'" if task.id == selected_task_id %>>
                <%= task.name %>
              </option>
            <% end %>
          </optgroup>
        <% end %>
      </select>
    </div>

  <% end %>

  <input type="submit" value="Submit" class="button" />

</form>

<a href="/">Back</a>
